{% extends '../../base.html' %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
{% load qr_code %}
<div class="container mt-5">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Swano Inc. SSO</h5>
            {% if recovery_codes %}
                <h5 class="card-subtitle mb-2 text-danger">Vos codes de récupération. <strong>Visible une seule fois</strong></h5>
                {% for recovery_code in recovery_codes %}
                    {{ recovery_code }}
                    <br>
                {% endfor %}
                <a href="/" class="btn btn-primary">Retour</a>
            {% else %}
                <h6 class="card-subtitle mb-2 text-warning">Activer la double authentification TOTP</h6>

                {% qr_from_text secret size="T" %}
                <code>{{ secret }}</code>
                {{ form.non_field_errors }}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.code.errors }}
                        <label class="form-label" for="{{ form.code.id_for_label }}">Code</label>
                        <input id="{{ form.code.id_for_label }}" name="{{ form.code.html_name }}" type="number" class="form-control" required>
                    </div>
                    <input name="{{ form.secret.html_name }}" style="display: none" value="{{ secret }}">
                    <button type="submit" class="btn btn-primary">Activer</button>
                </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
