{% extends '../../base.html' %}

{% block head %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            {% url 'otp_recovery_view' as otp_recovery_url %}
            <div class="card-body">
                <h5 class="card-title">Swano Inc. SSO</h5>
                <h6 class="card-subtitle mb-2 text-warning">Merci de saisir votre token</h6>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="otp">OTP</label>
                        <input id="otp" name="otp" type="number" autocomplete="off" class="form-control" required placeholder="******">
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <a href="{{ otp_recovery_url }}" class="btn btn-info">Code de récupération</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
