{% extends '../../base.html' %}

{% block head %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            {% url 'otp_view' as otp_url %}
            <div class="card-body">
                <h5 class="card-title">Swano Inc. SSO</h5>
                <h6 class="card-subtitle mb-2 text-warning">Merci de saisir un token de récupération</h6>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="recovery_code">Token</label>
                        <input id="recovery_code" name="recovery_code" autocomplete="off" type="text" class="form-control" required placeholder="******">
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <a href="{{ otp_url }}" class="btn btn-secondary">Retour</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
