{% extends '../../base.html' %}

{% block head %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            {% url 'index' as index_url %}
            <div class="card-body">
                <h5 class="card-title">Swano Inc. SSO</h5>
                <h6 class="card-subtitle mb-2 text-danger">Désactiver l'OTP</h6>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.password.id_for_label }}">Mot de passe</label>
                        <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" autocomplete="off" type="password" class="form-control" required placeholder="******">
                    </div>
                    <button type="submit" class="btn btn-danger">Désactiver</button>
                    <a href="{{ index_url }}" class="btn btn-secondary">Retour</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
