<nav class="navbar navbar-light bg-light container-fluid" style="display: flex; justify-content: space-between">
    <div>
        {% url 'index' as index_url %}
        <a href="{{index_url}}" class="navbar-brand mb-0 h1">Swano SSO</a>
    </div>
    {% if utilisateur %}
        <div>
            <span>{{ utilisateur.prenom }} {{ utilisateur.nom }}</span>
            {% if utilisateur.is_staff %}
                {% url 'admin' as admin_url %}
                <a href="/admin" class="btn btn-primary">Administration</a>
            {% endif %}
        </div>
    {% endif %}
</nav>
