{% extends '../base.html' %}

{% block head %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            {% url 'otp_view' as otp_url %}
            <div class="card-body">
                <h5 class="card-title">Swano Inc. SSO</h5>
                <h6 class="card-subtitle mb-2 text-warning">Merci de saisir sélectionner une méthode d'authentification</h6>
                <ul class="list-unstyled">
                    {% for method in methods %}
                        <li>
                            <a href="{{ method.view }}">{{ method.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
