{% extends '../base.html' %}
{% block head %}
    <title>{{ title }}</title>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div style="margin: 0 auto; align-content: center">
            <div class="mb-3">
                <h1 style="font-weight: bold">
                    {{ grant.client.client_name }}
                </h1>
                <div style="display: flex; justify-content: space-between; border-top: 15px gray">
                    <span>
                      {{ grant.client.web_site| default:"N/A" }}
                    </span>
                    <span>
                        {{ grant.client.company| default:"N/A" }}
                    </span>
                </div>
            </div>
            <h3>L'application veut avoir accès à :</h3>
            <hr>
            <span>
                {{ grant.request.scope }}
            </span>
            <form action="" method="post">
                {% csrf_token %}
                <div style="text-align: center">
                    <a style="width: 10rem;" class="btn btn-secondary" href="/">Annuler</a>
                    <button style="width: 10rem" type="submit" class="btn btn-primary">Autoriser</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
