<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}
        <title>Swano Inc. SSO</title>
    {% endblock head %}
    {% include './include/navbar.html' %}
    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    {% if messages %}
        <div class="alert">
            <ul class="messages list-unstyled">
                {% for message in messages %}
                    <li{% if message %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}
    {% block header %}
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block menu %}
    {% endblock menu %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Copyright &copy; Swano Inc. 2021</span>
        </div>
        <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setCookieDomain", "*.swano-lab.net"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://met.swano-lab.net/";
                _paq.push(['setTrackerUrl', u+'met.php']);
                _paq.push(['setSiteId', '1']);
                _paq.push(['setRequestMethod', 'POST']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'met.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//met.swano-lab.net/met.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    </footer>
{% endblock footer %}
</html>
