{% extends 'base.html' %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
    {% if not utilisateur %}
    {% url 'login_view' as login_view_url %}
    <a href="{{login_view_url}}" class="btn btn-warning">Connexion</a>
    <a href="{{ certificate_url }}/certificate" class="btn btn-primary">Certificate</a>
    {% else %}
        {% url 'change_password_view' as change_password_url %}
        {% url 'otp_enroll_view' as otp_enroll_url %}
        {% url 'otp_disable_view' as otp_disable_url %}
        {{ utilisateur.email }}
        <form action="/logout" method="post">
            {%  csrf_token %}
            <button type="submit" class="btn btn-primary">Déconnexion</button>
        </form>
        <a href="{{change_password_url}}" class="btn btn-info">Changer mon mot de passe</a>
        <a href="{{otp_enroll_url}}" class="btn btn-info">Paramètres OTP</a>
        {% if otp %}<a href="{{ otp_disable_url }}" class="btn btn-danger">Désactiver l'OTP</a>{% endif %}
    {% endif %}
{% endblock %}
