{% extends 'base.html' %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Swano Inc. SSO</h5>
            <h6 class="card-subtitle mb-2 text-warning">Connexion</h6>
            {{ form.non_field_errors }}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.email.errors }}
                    <label class="form-label" for="{{ form.email.id_for_label }}">Adresse email</label>
                    <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" type="text" class="form-control" required placeholder="jdoe@swano-lab.net">
                </div>
                <div class="mb-3">
                    {{ form.password.errors }}
                    <label class="form-label" for="{{ form.password.id_for_label }}">Mot de passe</label>
                    <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" class="form-control" required>
                </div>
                {{ form.captcha }}
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
