{% extends 'base.html' %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="alert alert-warning">
            Changer votre mot de passe vous déconnectera de tous vos appareils.
        </div>
        <div class="card-body">
            <h5 class="card-title">Swano Inc. SSO</h5>
            <h6 class="card-subtitle mb-2 text-warning">Modifier mon mot de passe</h6>
            {{ form.non_field_errors }}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.current_password.errors }}
                    <label class="form-label" for="{{ form.current_password.id_for_label }}">Mot de passe courant</label>
                    <input id="{{ form.current_password.id_for_label }}" name="{{ form.current_password.html_name }}" type="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    {{ form.new_password.errors }}
                    <label class="form-label" for="{{ form.new_password.id_for_label }}">Nouveau mot de passe</label>
                    <input id="{{ form.new_password.id_for_label }}" name="{{ form.new_password.html_name }}" type="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.errors }}
                    <label class="form-label" for="{{ form.confirm_password.id_for_label }}">Confirmation</label>
                    <input id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.html_name }}" type="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Modifier et me déconnecter</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
